<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Express Dev Skills</h1>
    <ul>
      <% devskills.forEach(function(s) { %>
        <li>
          <%= s.devskill %>
            - 
          <%= s.done ? 'done' : 'not done' %>
        </li>
      <% }); %>
    </ul>
  </body>
</html>