<!DOCTYPE html>
<html>
  <head>
    <title>Skills</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Express DevSkills</h1>
    <ul>
      <% devskills.forEach(function(s) { %>
        <li>
          <a href="/devskills/<%= s.id %>"><%= s.devskill %></a>
            - 
          <%= s.done ? 'done' : 'not done' %>
        </li>
      <% }); %>
    </ul>
  </body>
</html>